<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @employee.account %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee.employee_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @employee.manager_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
